body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1e2227;
  color: white;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 300;
}

.report-span-value {
  float: right;
  margin-right: 20%;
  color: rgb(142, 253, 16);
}

.swing {
  animation: swing 2s ease;
  animation-iteration-count: infinite;
}

.swing:hover {
  animation: none;
}

.display-none {
  display: none !important;
}

.modal-dialog {
  color: black !important;
}

@media screen and (max-width: 769px) {
  .add-new-month,
  .add-report {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .main-heading {
    font-size: 22px;
  }

  .cumulative-header {
    font-size: 18px;
  }

  .absent-message {
    font-size: 17px;
  }

  .add-new-month {
    margin-top: 1rem !important;
  }

  .report-body {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .report-body h5 {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 350px) {
  .add-new-month,
  .add-report {
    flex: 0 0 70%;
    max-width: 70%;
  }
}

@keyframes swing {
  15% {
    transform: translateX(5px);
  }

  30% {

    transform: translateX(-5px);
  }

  50% {
    transform: translateX(3px);
  }

  65% {

    transform: translateX(-3px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}
